@import "../color";
@import "../font";
@import "../mixin";
@import "../nav";
@import "../footer";

.body {
  position: relative;
  overflow: hidden;
}

.lenses2-img {
  position: fixed;
  top: 0;
  left: -10%;
  opacity: 0.15;
  width: 30rem;
  height: 30rem;

  @media only screen and (min-width: 540px) {
    top: -5%;
    left: -10%;
    width: 40rem;
    height: 40rem;
  }

  @media only screen and (min-width: 720px) {
    top: -5%;
    left: -10%;
    width: 60rem;
    height: 60rem;
  }

  @media only screen and (min-width: 1200px) {
    top: -15%;
    left: -10%;
    width: 80rem;
    height: 80rem;
  }

  @media only screen and (min-width: 1600px) {
    top: -15%;
    left: -10%;
    width: 100rem;
    height: 100rem;
  }
}

.lenses3-img {
  position: fixed;
  bottom: -15%;
  right: -15%;
  opacity: 0.15;
  width: 30rem;
  height: 30rem;

  @media only screen and (min-width: 540px) {
    bottom: -15%;
    right: -15%;
    width: 40rem;
    height: 40rem;
  }

  @media only screen and (min-width: 800px) {
    bottom: -15%;
    right: -15%;
    width: 60rem;
    height: 60rem;
  }

  @media only screen and (min-width: 1400px) {
    bottom: -30%;
    right: -15%;
    width: 80rem;
    height: 80rem;
  }
}

.wrapper {
  display: flex;
  width: 90%;
  height: 70vh;
  margin: auto;
}

.main {
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    &--h1 {
      text-align: center;
      font-family: "Open Sans Condensed", sans-serif;
      color: $text-white;
      font-weight: 300;
      font-size: 3.4rem;
    }
  }
}
.h1 {
  position: relative;
  width: 30rem;
  margin: auto;
  &__underline {
    width: 12rem;
    height: 0.2rem;
    background-color: $text-white;
    position: absolute;
    top: 6.12rem;
    left: 3.2rem;
  }
}

// Media queries
@media screen and (min-width: 600px) {
  .wrapper {
    width: 70vw;
    height: 80vh;
  }

  .main {
    &__title {
      &--h1 {
        font-size: 4rem;
      }
    }
    &__paragraph--h5 {
      font-size: 2.2rem;
    }
  }

  .h1__underline {
    width: 16rem;
    height: 0.3rem;
    top: 7.3rem;
    left: 0;
  }
}

@media screen and (min-width: 780px) {
  .main {
    &__title {
      &--h1 {
        font-size: 6rem;
      }
    }
  }

  .h1__underline {
    width: 18rem;
    height: 0.3rem;
    top: 11rem;
    left: -2rem;
  }
}

@media screen and (min-width: 1160px) {
  .main {
    &__title {
      &--h1 {
        font-size: 8rem;
      }
    }
    &__paragraph--h5 {
      width: 60rem;
      font-size: 2.6rem;
    }
  }

  .h1 {
    width: 50rem;
    align-self: flex-start;
    margin: 0;
    &__underline {
      width: 26rem;
      height: 0.38rem;
      top: 15rem;
      left: 0;
    }
  }

  .heading__h3 {
    font-size: 2.5rem;
  }
}
