@import "../color";
@import "../font";
@import "../mixin";
@import "../nav";
@import "../footer";
@import "landing-breakpoints";

.wrapper {
  &__lenses2 {
    background: url("../../images/landing-img/lens-2.png") no-repeat center;
    background-size: cover;
    opacity: 0.1;
    width: 100rem;
    height: 100rem;
    position: absolute;
    top: -10%;
    left: -10%;
  }

  &__lenses3 {
    background: url("../../images/landing-img/lens-3.png") no-repeat center;
    background-size: cover;
    opacity: 0.1;
    width: 90rem;
    height: 90rem;
    position: absolute;
    bottom: -8%;
    right: -6%;
  }
}
