@import "../color";
@import "../font";
@import "../mixin";
@import "../nav";
@import "../footer";

.wrapper {
  display: flex;
  width: 90%;
  height: 70vh;
  // justify-content: center;
  // align-items: center;
  margin: auto;
  &__lenses2 {
    background: url("../../images/landing-img/lens-2.png") no-repeat center;
    background-size: contain;
    opacity: 0.1;
    width: 100vw;
    height: 80vh;
    position: absolute;
    top: -40%;
    left: -20%;
    overflow: hidden;
  }

  &__lenses3 {
    background: url("../../images/landing-img/lens-3.png") no-repeat center;
    background-size: contain;
    opacity: 0.1;
    width: 100vw;
    height: 70vh;
    position: absolute;
    bottom: -14%;
    right: -12%;
    overflow: hidden;
  }
}

.main {
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    &--h1 {
      text-align: center;
      font-family: "Open Sans Condensed", sans-serif;
      color: $text-white;
      font-weight: 300;
      font-size: 3.4rem;
    }
  }
}
.h1 {
  position: relative;
  width: 30rem;
  margin: auto;
  &__underline {
    width: 12rem;
    height: 0.2rem;
    background-color: $text-white;
    position: absolute;
    top: 6.12rem;
    left: 3.2rem;
  }
}

// Media queries
@media screen and (min-width: 600px) {
  .wrapper {
    width: 70vw;
    height: 80vh;
  }

  .main {
    &__title {
      &--h1 {
        font-size: 4rem;
      }
    }
    &__paragraph--h5 {
      font-size: 2.2rem;
    }
  }

  .h1__underline {
    width: 16rem;
    height: 0.3rem;
    top: 7.3rem;
    left: 0;
  }
}

@media screen and (min-width: 780px) {
  .main {
    &__title {
      &--h1 {
        font-size: 6rem;
      }
    }
  }

  .h1__underline {
    width: 18rem;
    height: 0.3rem;
    top: 11rem;
    left: -2rem;
  }
}

@media screen and (min-width: 1160px) {
  .wrapper {
    &__lenses2 {
      width: 60vw;
      height: 80vh;
      top: -20%;
      left: -10%;
    }

    &__lenses3 {
      width: 70vw;
      height: 70vh;
      bottom: -12%;
      right: -12%;
    }
  }

  .main {
    &__title {
      &--h1 {
        font-size: 8rem;
      }
    }
    &__paragraph--h5 {
      width: 60rem;
      font-size: 2.6rem;
    }
  }

  .h1 {
    width: 50rem;
    align-self: flex-start;
    margin: 0;
    &__underline {
      width: 26rem;
      height: 0.38rem;
      top: 15rem;
      left: 0;
    }
  }

  .heading__h3 {
    font-size: 2.5rem;
  }
}
