@import "color";

@mixin text-white {
  font-family: "Open Sans Condensed", sans-serif;
  color: $text-white;
  font-weight: 300;
}

@mixin text-black {
  font-family: "Open Sans Condensed", sans-serif;
  color: $text-black;
  font-weight: 300;
}

// social links hoover mixin
@mixin icon-hover {
  color: $blue;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
