*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: rgb(11, 10, 10);
}

.header {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  padding: 2em;
}
.logo {
  width: 15rem;
  font-size: 2.2rem;
  color: #fff;
}

.nav {
  width: 70vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.nav__list {
  list-style-type: none;
  display: none;
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 12%;
  right: 6%;

  background-color: rgba(47, 44, 44, 0.4);
  padding: 1em;
  border-radius: 1rem;

  animation-duration: 1.2s;
  animation-name: bounceIn;
}

.active {
  display: block;
}

.nav__links {
  text-decoration: none;
  outline: none;
  color: #fff;
}

.nav__item {
  padding: 0.5em;
}

.nav__item + .nav__item {
  margin-top: 2rem;
}

.nav__item:hover {
  border-top: 0.2rem solid #fff;
  border-bottom: 0.2rem solid #fff;
}

/* icon */
.menu-toggle {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 40px;
  right: 25px;
  cursor: pointer;
}

.one,
.two,
.three {
  width: 100%;
  height: 5px;
  background: #fff;
  margin: 6px auto;
}

/* Animation */
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/* ----- media queries ----- */
@media screen and (min-width: 800px) {
  .menu-toggle {
    display: none;
  }

  .header {
    width: 90%;
    max-width: 130rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8em;
  }

  .logo {
    font-size: 2.4rem;
  }

  .nav {
    width: 50rem;
  }

  .nav__list {
    position: static;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2.4rem;
    list-style-type: none;
    background-color: transparent;
    animation: none;
  }

  .nav__item + .nav__item {
    margin-left: 3rem;
    margin-top: 0;
  }

  .nav__item a {
    text-decoration: none;
    font-size: 2.2rem;
  }
}
