@import "font";
@import "color";
@import "mixin";

.footer {
  width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  align-items: center;

  &__address {
    display: flex;
    text-align: center;
    letter-spacing: 0.25rem;
    &--text {
      font-family: "Open Sans Condensed", sans-serif;
      color: $text-white;
      font-size: 1rem;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 90%;
    height: auto;
  }

  &__social {
    width: 100%;
    max-width: 80rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.5rem;
    &--list {
      list-style-type: none;
      padding-left: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &--items a {
      color: $text-white;
      font-size: 1rem;
    }
    &--icons {
      color: $text-white;
    }
  }
}

.fab:hover {
  @include icon-hover;
}

.copy {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  &__text {
    color: $text-white;
  }
  &__attribute a {
    color: $text-white;
    text-decoration: none;
  }
}

// Footer Media queries
@media screen and (min-width: 400px) {
  .footer__social--list {
    max-width: 40rem;
  }
}
