@import "font";
@import "color";
@import "mixin";

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: $black-bg;
  overflow: hidden;
}

.header {
  position: relative;
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  padding: 2em;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
  }
}

.logo,
.heading__h3 {
  width: 15rem;

  &__link {
    text-decoration: none;
    color: $text-white;
    cursor: pointer;
  }
}

.nav {
  width: 70vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.nav__list {
  list-style-type: none;
  display: none;
  position: absolute;
  top: 12%;
  right: 6%;

  background-color: rgba(47, 44, 44, 0.8);
  padding: 1em;
  border-radius: 1rem;

  animation-duration: 1.2s;
  animation-name: bounceIn;
}

.active {
  display: block;
}

.nav__links {
  text-decoration: none;
  outline: none;
  color: $text-white;
}

.nav__item {
  padding: 0.5em;
  border-top: 0.2rem solid transparent;
  border-bottom: 0.2rem solid transparent;
}

.nav__item + .nav__item {
  margin-top: 2rem;
}

.nav__item:hover {
  border-top: 0.2rem solid $text-white;
  border-bottom: 0.2rem solid $text-white;
}

/* icon */
.menu-toggle {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 40px;
  right: 25px;
  cursor: pointer;
}

.one,
.two,
.three {
  width: 100%;
  height: 5px;
  background: $text-white;
  margin: 6px auto;
}

/* Animation */
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/* ----- navbar media queries ----- */
@media screen and (min-width: 800px) {
  .menu-toggle {
    display: none;
  }

  .header {
    width: 90%;
    max-width: 130rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8em;
  }

  .logo .heading__h3 {
    font-size: 2.5rem;
  }

  .nav {
    width: 50rem;
  }

  .nav__list {
    position: static;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    background-color: transparent;
    animation: none;
  }

  .nav__item + .nav__item {
    margin-left: 3rem;
    margin-top: 0;
  }

  .nav__item a {
    text-decoration: none;
  }
}

@media screen and (min-width: 1200px) {
  .header .heading__h3 {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 1390px) {
  .header .heading__h3 {
    font-size: 3.4rem;
  }
}
