.heading__h1 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 3rem;
}

.heading__h2 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 2.5rem;
}

.heading__h3 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 2rem;
}

.heading__h4 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.8rem;
}

.heading__h5 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.6rem;
}

.heading__h6 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.2rem;
}

.paragraph {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.6rem;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  position: relative;
  box-sizing: border-box;
  background: #0b0a0a;
}

.header {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  padding: 2em;
}

.logo,
.heading__h3 {
  position: relative;
  width: 15rem;
}
.logo__link,
.heading__h3__link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.logo__img,
.heading__h3__img {
  position: absolute;
  top: -5px;
  left: -30px;
  width: 4rem;
  height: 4rem;
}

.nav {
  width: 70vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.nav__list {
  list-style-type: none;
  display: none;
  position: absolute;
  top: 12%;
  right: 6%;
  background-color: rgba(47, 44, 44, 0.8);
  padding: 1em;
  border-radius: 1rem;
  animation-duration: 1.2s;
  animation-name: bounceIn;
}

.active {
  display: block;
  z-index: 999;
}

.nav__links {
  text-decoration: none;
  outline: none;
  color: #fff;
}

.nav__item {
  padding: 0.5em;
  border-top: 0.2rem solid transparent;
  border-bottom: 0.2rem solid transparent;
}

.nav__item + .nav__item {
  margin-top: 2rem;
}

.nav__item:hover {
  border-top: 0.2rem solid #fff;
  border-bottom: 0.2rem solid #fff;
}

/* icon */
.menu-toggle {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 40px;
  right: 25px;
  cursor: pointer;
}

.one,
.two,
.three {
  width: 100%;
  height: 5px;
  background: #fff;
  margin: 6px auto;
}

/* Animation */
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
/* ----- navbar media queries ----- */
@media screen and (min-width: 800px) {
  .menu-toggle {
    display: none;
  }

  .header {
    width: 90%;
    max-width: 130rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8em;
  }

  .logo .heading__h3 {
    font-size: 2.5rem;
  }

  .nav {
    width: 50rem;
  }

  .nav__list {
    position: static;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    background-color: transparent;
    animation: none;
  }

  .nav__item + .nav__item {
    margin-left: 3rem;
    margin-top: 0;
  }

  .nav__item a {
    text-decoration: none;
  }
}
@media screen and (min-width: 1200px) {
  .header .heading__h3 {
    font-size: 2.8rem;
  }
}
@media screen and (min-width: 1390px) {
  .header .heading__h3 {
    font-size: 3.4rem;
  }
}
.heading__h1 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 3rem;
}

.heading__h2 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 2.5rem;
}

.heading__h3 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 2rem;
}

.heading__h4 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.8rem;
}

.heading__h5 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.6rem;
}

.heading__h6 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.2rem;
}

.paragraph {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.6rem;
}

.footer {
  width: 100%;
  margin: auto;
  min-height: 5rem;
  display: flex;
  align-items: center;
}
.footer__address {
  display: flex;
  text-align: center;
  letter-spacing: 0.25rem;
}
.footer__address--text {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-size: 1rem;
}
.footer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90%;
  height: auto;
}
.footer__social {
  width: 100%;
  max-width: 80rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0.5rem;
}
.footer__social--list {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__social--items a {
  color: #fff;
  font-size: 1.2rem;
}
.footer__social--icons {
  color: #fff;
}

.fab:hover {
  color: #00bcd4;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.copy {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.copy__text {
  color: #fff;
}
.copy__attribute a {
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 400px) {
  .footer__social--list {
    max-width: 40rem;
  }
}
@media screen and (min-width: 800px) {
  .footer__address--text {
    font-size: 1.2rem;
  }
  .footer__social--icon {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address--text {
    font-size: 1.6rem;
  }
  .footer__social--icon {
    font-size: 1.8rem;
  }
}
main {
  display: flex;
  justify-content: center;
}

.about-container {
  transform: translateY(50px);
  max-width: 1027px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
}

.info p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container-alex {
  max-width: 1071px;
  width: 100%;
  height: 216px;
}
.container-alex .alex-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1071px;
  width: 100%;
  height: 216px;
  text-decoration: none;
  color: white;
  position: absolute;
}
.container-alex .alex-img {
  max-width: 169px;
  max-height: 216px;
}
.container-alex .alex-text {
  max-width: 800px;
  width: 100%;
}

.container-alex:hover .alex-img,
.container-alex:hover .alex-text {
  transform: scale(1.05);
  cursor: pointer;
  width: 840px;
}

.container-chris {
  max-width: 1071px;
  width: 100%;
  height: 216px;
}
.container-chris .chris-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1071px;
  width: 100%;
  height: 216px;
  text-decoration: none;
  color: white;
  position: absolute;
}
.container-chris .chris-img {
  max-width: 255px;
  height: 216px;
}
.container-chris .chris-text {
  max-width: 800px;
  width: 100%;
}

.container-chris:hover .chris-img,
.container-chris:hover .chris-text {
  transform: scale(1.05);
  cursor: pointer;
  width: 750px;
}

.container-mollie {
  max-width: 1071px;
  width: 100%;
  height: 216px;
}
.container-mollie .mollie-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1071px;
  width: 100%;
  height: 216px;
  text-decoration: none;
  color: white;
  position: absolute;
}
.container-mollie .mollie-img {
  max-width: 168px;
  max-height: 216px;
}
.container-mollie .mollie-text {
  max-width: 860px;
  width: 100%;
}

.container-mollie:hover .mollie-img,
.container-mollie:hover .mollie-text {
  transform: scale(1.05);
  cursor: pointer;
  width: 840px;
}

.line {
  display: none;
}

@media (max-width: 509px) {
  .line {
    transform: translateY(50px);
  }

  .container-mollie,
.container-chris {
    transform: translateY(50px);
  }
}
@media (orientation: portrait) {
  .about-container {
    transform: translateY(50px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-mollie,
.container-alex,
.container-chris {
    max-width: 666px;
    width: 100%;
    height: 398px;
    margin-bottom: 100px;
  }
  .container-mollie .mollie-link,
.container-mollie .alex-link,
.container-mollie .chris-link,
.container-alex .mollie-link,
.container-alex .alex-link,
.container-alex .chris-link,
.container-chris .mollie-link,
.container-chris .alex-link,
.container-chris .chris-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 666px;
    width: 100%;
    height: 398px;
    margin-bottom: 50px;
  }
  .container-mollie .chris-link,
.container-alex .chris-link,
.container-chris .chris-link {
    flex-direction: column-reverse;
  }
  .container-mollie .mollie-text,
.container-mollie .alex-text,
.container-mollie .chris-text,
.container-alex .mollie-text,
.container-alex .alex-text,
.container-alex .chris-text,
.container-chris .mollie-text,
.container-chris .alex-text,
.container-chris .chris-text {
    height: 100px;
  }

  .line {
    display: block;
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .line {
    display: none;
  }
}

/*# sourceMappingURL=about.css.map */
