.heading__h1 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 3rem;
}

.heading__h2 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 2.5rem;
}

.heading__h3 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 2rem;
}

.heading__h4 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.8rem;
}

.heading__h5 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.6rem;
}

.heading__h6 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.2rem;
}

.paragraph {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.6rem;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: #0b0a0a;
}

.header {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  padding: 2em;
}

.logo {
  width: 15rem;
}

.nav {
  width: 70vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.nav__list {
  list-style-type: none;
  display: none;
  position: absolute;
  top: 12%;
  right: 6%;
  background-color: rgba(47, 44, 44, 0.4);
  padding: 1em;
  border-radius: 1rem;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
}

.active {
  display: block;
}

.nav__links {
  text-decoration: none;
  outline: none;
  color: #fff;
}

.nav__item {
  padding: 0.5em;
}

.nav__item + .nav__item {
  margin-top: 2rem;
}

.nav__item:hover {
  border-top: 0.2rem solid #fff;
  border-bottom: 0.2rem solid #fff;
}

/* icon */
.menu-toggle {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 40px;
  right: 25px;
  cursor: pointer;
}

.one,
.two,
.three {
  width: 100%;
  height: 5px;
  background: #fff;
  margin: 6px auto;
}

/* Animation */
@-webkit-keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
/* ----- navbar media queries ----- */
@media screen and (min-width: 800px) {
  .menu-toggle {
    display: none;
  }

  .header {
    width: 90%;
    max-width: 130rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8em;
  }

  .logo {
    font-size: 2.5rem;
  }

  .nav {
    width: 50rem;
  }

  .nav__list {
    position: static;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    background-color: transparent;
    -webkit-animation: none;
            animation: none;
  }

  .nav__item + .nav__item {
    margin-left: 3rem;
    margin-top: 0;
  }

  .nav__item a {
    text-decoration: none;
  }
}
main {
  display: flex;
  justify-content: center;
}

.about-container {
  transform: translateY(50px);
  max-width: 1027px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
}

.container-alex {
  max-width: 1071px;
  width: 100%;
  height: 216px;
}
.container-alex .alex-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1071px;
  width: 100%;
  height: 216px;
  text-decoration: none;
  color: white;
  position: absolute;
}
.container-alex .alex-img {
  max-width: 169px;
  max-height: 216px;
}
.container-alex .alex-text {
  max-width: 800px;
  width: 100%;
}

.container-alex:hover .alex-img, .container-alex:hover .alex-text {
  transform: scale(1.05);
  cursor: pointer;
  width: 840px;
}

.container-chris {
  max-width: 1071px;
  width: 100%;
  height: 216px;
}
.container-chris .chris-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1071px;
  width: 100%;
  height: 216px;
  text-decoration: none;
  color: white;
  position: absolute;
}
.container-chris .chris-img {
  max-width: 255px;
  height: 216px;
}
.container-chris .chris-text {
  max-width: 800px;
  width: 100%;
}

.container-chris:hover .chris-img, .container-chris:hover .chris-text {
  transform: scale(1.05);
  cursor: pointer;
  width: 750px;
}

.container-mollie {
  max-width: 1071px;
  width: 100%;
  height: 216px;
}
.container-mollie .mollie-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1071px;
  width: 100%;
  height: 216px;
  text-decoration: none;
  color: white;
  position: absolute;
}
.container-mollie .mollie-img {
  max-width: 168px;
  max-height: 216px;
}
.container-mollie .mollie-text {
  max-width: 860px;
  width: 100%;
}

.container-mollie:hover .mollie-img, .container-mollie:hover .mollie-text {
  transform: scale(1.05);
  cursor: pointer;
  width: 840px;
}

@media (orientation: portrait) {
  .about-container {
    transform: translateY(50px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-mollie, .container-alex, .container-chris {
    max-width: 666px;
    width: 100%;
    height: 398px;
    margin-bottom: 100px;
  }
  .container-mollie .mollie-link, .container-mollie .alex-link, .container-mollie .chris-link, .container-alex .mollie-link, .container-alex .alex-link, .container-alex .chris-link, .container-chris .mollie-link, .container-chris .alex-link, .container-chris .chris-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 666px;
    width: 100%;
    height: 398px;
  }
  .container-mollie .chris-link, .container-alex .chris-link, .container-chris .chris-link {
    flex-direction: column-reverse;
  }
  .container-mollie .mollie-text, .container-mollie .alex-text, .container-mollie .chris-text, .container-alex .mollie-text, .container-alex .alex-text, .container-alex .chris-text, .container-chris .mollie-text, .container-chris .alex-text, .container-chris .chris-text {
    height: 100px;
  }
}/*# sourceMappingURL=about.css.map */