@import "../nav";



main {
    display: flex;
    justify-content: center;
}

.about-container {
transform: translateY(50px);
 max-width: 1027px;
 width: 100%;
 font-size: 16px;
 text-align: center;
 font-family: 'Open Sans', sans-serif;
 line-height: 22px;
}

// alex
    .container-alex {
        max-width: 1071px;
        width: 100%;
        height: 216px;

        .alex-link {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1071px;
            width: 100%;
            height: 216px;
            text-decoration: none;
            color: white;
            position: absolute;
        }

        .alex-img {
            max-width: 169px;
            max-height: 216px;
        }

        .alex-text {
            max-width: 800px;
            width: 100%;
        }
    }
    .container-alex:hover .alex-img, .container-alex:hover .alex-text {  transform: scale(1.05);
        cursor:pointer;  width: 840px;}

// chris
    .container-chris {
        max-width: 1071px;
        width: 100%;
        height: 216px;

        .chris-link {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1071px;
            width: 100%;
            height: 216px;
            text-decoration: none;
            color: white;
            position: absolute;
        }
        .chris-img {
            max-width: 255px;
            height: 216px;
        }
        .chris-text {
            max-width: 800px;
            width: 100%;
        }
    }
    .container-chris:hover .chris-img, .container-chris:hover .chris-text {  transform: scale(1.05);
        cursor:pointer; width: 750px;}
// mollie
    .container-mollie {
        max-width: 1071px;
        width: 100%;
        height: 216px;

        .mollie-link {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1071px;
            width: 100%;
            height: 216px;
            text-decoration: none;
            color: white;
            position: absolute;
        }
            .mollie-img {
                max-width: 168px;
                max-height: 216px;
            }

            .mollie-text {
                max-width: 860px;
                width: 100%;
            }
    }

    .container-mollie:hover .mollie-img, .container-mollie:hover .mollie-text {  transform: scale(1.05);
    cursor:pointer; width: 840px}

    .line {
       display: none;
    }

@media (max-width: 509px) {
    .line {
        transform: translateY(50px);
    }
    .container-mollie, .container-chris {
        transform: translateY(50px);
    }
}



@media (orientation: portrait) {
    .about-container {
        transform: translateY(50px);
         display: flex;
         flex-direction: column;
         align-items: center;
        }

        .container-mollie, .container-alex, .container-chris {
            max-width: 666px;
            width: 100%;
            height: 398px;
            margin-bottom: 100px;
    
            .mollie-link, .alex-link, .chris-link {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                max-width: 666px;
                width: 100%;
                height: 398px;
                margin-bottom: 50PX ;
            }

            .chris-link {
                flex-direction: column-reverse;
            }
                .mollie-text, .alex-text, .chris-text {
                    height: 100px;
                }
        }
             .line {
                display: block;
                max-width: 100%;
            }
}

@media (max-width: 350px) {
    .line {
        display: none;
    }
}

@media (hover: none) {

}