.heading__h1 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 3rem;
}

.heading__h2 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 2.5rem;
}

.heading__h3 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 2rem;
}

.heading__h4 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.8rem;
}

.heading__h5 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.6rem;
}

.heading__h6 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.2rem;
}

.paragraph {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.6rem;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: #0b0a0a;
  overflow: hidden;
}

.header {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  padding: 2em;
}

.logo,
.heading__h3 {
  position: relative;
  width: 15rem;
}
.logo__link,
.heading__h3__link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.logo__img,
.heading__h3__img {
  position: absolute;
  top: -5px;
  left: -30px;
  width: 4rem;
  height: 4rem;
}

.nav {
  width: 70vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.nav__list {
  list-style-type: none;
  display: none;
  position: absolute;
  top: 12%;
  right: 6%;
  background-color: rgba(47, 44, 44, 0.8);
  padding: 1em;
  border-radius: 1rem;
  animation-duration: 1.2s;
  animation-name: bounceIn;
}

.active {
  display: block;
}

.nav__links {
  text-decoration: none;
  outline: none;
  color: #fff;
}

.nav__item {
  padding: 0.5em;
  border-top: 0.2rem solid transparent;
  border-bottom: 0.2rem solid transparent;
}

.nav__item + .nav__item {
  margin-top: 2rem;
}

.nav__item:hover {
  border-top: 0.2rem solid #fff;
  border-bottom: 0.2rem solid #fff;
}

/* icon */
.menu-toggle {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 40px;
  right: 25px;
  cursor: pointer;
}

.one,
.two,
.three {
  width: 100%;
  height: 5px;
  background: #fff;
  margin: 6px auto;
}

/* Animation */
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
/* ----- navbar media queries ----- */
@media screen and (min-width: 800px) {
  .menu-toggle {
    display: none;
  }

  .header {
    width: 90%;
    max-width: 130rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8em;
  }

  .logo .heading__h3 {
    font-size: 2.5rem;
  }

  .nav {
    width: 50rem;
  }

  .nav__list {
    position: static;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    background-color: transparent;
    animation: none;
  }

  .nav__item + .nav__item {
    margin-left: 3rem;
    margin-top: 0;
  }

  .nav__item a {
    text-decoration: none;
  }
}
@media screen and (min-width: 1200px) {
  .header .heading__h3 {
    font-size: 2.8rem;
  }
}
@media screen and (min-width: 1390px) {
  .header .heading__h3 {
    font-size: 3.4rem;
  }
}
.heading__h1 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 3rem;
}

.heading__h2 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 2.5rem;
}

.heading__h3 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 2rem;
}

.heading__h4 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.8rem;
}

.heading__h5 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.6rem;
}

.heading__h6 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.2rem;
}

.paragraph {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.6rem;
}

.footer {
  width: 100%;
  margin: auto;
  min-height: 5rem;
  display: flex;
  align-items: center;
}
.footer__address {
  display: flex;
  text-align: center;
  letter-spacing: 0.25rem;
}
.footer__address--text {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-size: 1rem;
}
.footer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90%;
  height: auto;
}
.footer__social {
  width: 100%;
  max-width: 80rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0.5rem;
}
.footer__social--list {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__social--items a {
  color: #fff;
  font-size: 1.2rem;
}
.footer__social--icons {
  color: #fff;
}

.fab:hover {
  color: #00bcd4;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.copy {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.copy__text {
  color: #fff;
}
.copy__attribute a {
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 400px) {
  .footer__social--list {
    max-width: 40rem;
  }
}
@media screen and (min-width: 800px) {
  .footer__address--text {
    font-size: 1.2rem;
  }
  .footer__social__items a {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address--text {
    font-size: 1.4rem;
  }
  .footer__social__items a {
    font-size: 1.6rem;
  }
}
body {
  background-image: url(../../images/about-img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  min-height: 100%;
}

.spacediv {
  height: 100px;
  width: 100%;
  display: block;
}

.photo-container {
  transform: translateY(50px);
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  max-width: 1203px;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  height: 567px;
  font-size: 16px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  color: white;
}

.left {
  max-width: 720px;
  width: 100%;
  height: 467px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left .photos {
  max-height: 253px;
  display: flex;
  justify-content: space-between;
}
.left .photos .photos-sub img {
  max-width: 253px;
  max-height: 253px;
}
.left .text {
  height: 156px;
  max-width: 720px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left .text p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.right {
  padding-left: 20px;
  max-width: 100%;
  height: 489px;
}

@media (max-width: 700px) {
  .left {
    height: 1000px;
  }
  .left .photos {
    max-height: 1000px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .right {
    padding-left: 0px;
    max-height: 80%;
  }

  .photo-container {
    transform: translateY(-50px);
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    min-height: 1520px;
  }
}
@media (orientation: portrait), (max-width: 1050px) {
  .photo-container {
    transform: translateY(-50px);
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    height: 1020px;
  }
}

/*# sourceMappingURL=photo.css.map */
