.heading__h1 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 3rem;
}

.heading__h2 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 2.5rem;
}

.heading__h3 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 2rem;
}

.heading__h4 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.8rem;
}

.heading__h5 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.6rem;
}

.heading__h6 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.2rem;
}

.paragraph {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 1.6rem;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: #0b0a0a;
}

.header {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  padding: 2em;
}

.logo {
  width: 15rem;
}

.nav {
  width: 70vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.nav__list {
  list-style-type: none;
  display: none;
  position: absolute;
  top: 12%;
  right: 6%;
  background-color: rgba(47, 44, 44, 0.8);
  padding: 1em;
  border-radius: 1rem;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
}

.active {
  display: block;
}

.nav__links {
  text-decoration: none;
  outline: none;
  color: #fff;
}

.nav__item {
  padding: 0.5em;
  border-top: 0.2rem solid transparent;
  border-bottom: 0.2rem solid transparent;
}

.nav__item + .nav__item {
  margin-top: 2rem;
}

.nav__item:hover {
  border-top: 0.2rem solid #fff;
  border-bottom: 0.2rem solid #fff;
}

/* icon */
.menu-toggle {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 40px;
  right: 25px;
  cursor: pointer;
}

.one,
.two,
.three {
  width: 100%;
  height: 5px;
  background: #fff;
  margin: 6px auto;
}

/* Animation */
@-webkit-keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
/* ----- navbar media queries ----- */
@media screen and (min-width: 800px) {
  .menu-toggle {
    display: none;
  }

  .header {
    width: 90%;
    max-width: 130rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8em;
  }

  .logo {
    font-size: 2.5rem;
  }

  .nav {
    width: 50rem;
  }

  .nav__list {
    position: static;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    background-color: transparent;
    -webkit-animation: none;
            animation: none;
  }

  .nav__item + .nav__item {
    margin-left: 3rem;
    margin-top: 0;
  }

  .nav__item a {
    text-decoration: none;
  }
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  min-height: 100%;
}

.spacediv {
  height: 100px;
  width: 100%;
  display: block;
}

.photo-container {
  transform: translateY(50px);
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  max-width: 1203px;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  height: 567px;
  font-size: 16px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  color: white;
}

.left {
  max-width: 720px;
  width: 100%;
  height: 467px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left .photos {
  max-height: 253px;
  display: flex;
  justify-content: space-between;
}
.left .photos .photos-sub img {
  max-width: 253px;
  max-height: 253px;
}
.left .text {
  height: 156px;
  max-width: 720px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left .text p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.right {
  padding-left: 20px;
  max-width: 100%;
  height: 489px;
}

@media (max-width: 500px) {
  .left {
    height: 1000px;
  }
  .left .photos {
    max-height: 1000px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .right {
    padding-left: 0px;
  }

  .photo-container {
    transform: translateY(-50px);
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    min-height: 1520px;
  }
}
@media (orientation: portrait) {
  .photo-container {
    transform: translateY(-50px);
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    height: 1020px;
  }
}/*# sourceMappingURL=photo.css.map */